#list{
    background:rgb(185, 167, 235);
    font-family: sans-serif;
    text-decoration: none;
    display: inline-block;
    border-radius:25px;
}

body{
    background-image:url('songsbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
     height: 100%;    
}

.float{
	position:fixed;
	width:100%;
	height:80px;
	bottom:40px;
	right:40px;
	background-color:white;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}